.audio-player
  display inblock
  width 300px
  height 100px
  margin 0 auto
  .ratio-container
    display inline-block
    width 200px
    height 10px
    background-color rgba(255,255,255,0.3)
    vertical-align middle
    .ratio-bar
      display block
      width 0px
      height 10px
      background-color $pink
  .player-button
    display inline-block
    width 50px
    position relative
    height 50px
    padding 0
    margin 0
    text-align left
    vertical-align middle
    background none
    border none
    &:active
      border 0px
      outline none
    .audio-player-button
      position absolute
      top 0
      left
      width 50px
      height 50px