.chapter3-block-1
  display inline-block
  width 40%
  height 100vh
  font-size 80px
  text-align center
  font-family 'franchise'
  color $white
  vertical-align top
  padding 0 0
  .chapter-3-title
    display block
    color $white
    font-size $chapter1Title
    font-family 'franchise'
    height auto
    text-align left
    margin-top 100px
    padding 0 40px
  .chapter-3-p
    display block
    color $white
    font-size $chapter1P
    font-family 'helvetica'
    padding 0 40px
    height auto
    text-align left
    line-height 24px
.chapter3-block-2
  display inline-block
  width 60%
  height 100%
  font-size 80px
  text-align left
  font-family 'franchise'
  color $white
  vertical-align top
  background-color rgba(0,0,0,0.8)
.chapter3-video
  display block
  width 500px
  height 500px
  margin 0 auto