.chapter-4-title
  display block
  color $white
  font-size $chapter1Title
  font-family 'franchise'
  height auto
  text-align left
  margin-top 100px
  padding 0 40px
.chapter-4-p
  display block
  color $white
  font-size $chapter1P
  font-family 'helvetica'
  padding 0 40px
  height auto
  text-align left
  line-height 24px
  width 500px