.fondchapter
  width 100%
  height 100%
  background-image url("../../../static/images/chap1.jpg")
  background-size cover
.chapter-1-title
  display block
  color $white
  font-size $chapter1Title
  font-family 'franchise'
  height auto
  text-align center
  margin-top 100px
.chapter-1-p
  display block
  width 600px
  color $white
  font-size $chapter1P
  font-family 'source-regular'
  height auto
  margin 0 auto
  text-align center
  line-height $espacement
