.chapter-1-title
  display block
  color $white
  font-size $chapter1Title
  font-family 'franchise'
  height auto
  text-align center
  margin-top 100px
.chapter-1-p
  display block
  width 600px
  color $white
  font-size $chapter1P
  font-family 'source-regular'
  height auto
  margin 0 auto
  text-align center
  line-height 36px
