.data
  width 100%
  height 100%
  background-image url("../../../static/images/frise.svg")
  background-size cover
  .left-block-chapter-3
    display inline-block
    width 50%
    height 100%
    position relative
    border-right 2px solid white
    text-align center
    h4
      position absolute
      font-family 'franchise'
      color $white
      font-size 70px
      margin-left 50%;
      transform translateX(-50%)
    .nombredata
      position absolute
      margin-top 40%
      margin-left 30%;
      transform translateX(-50%)
      width 500px
      height 500px
      background-image url("../../../static/images/surfacezone.svg")
      background-repeat no-repeat
      img
        max-width 100%
        max-height auto
    .nombredata1
      position absolute
      margin-top 25%
      margin-left 60%;
      transform translateX(-50%)
      width 500px
      height 500px
      background-image url("../../../static/images/popouest.svg")
      background-repeat no-repeat
      img
        max-width 100%
        max-height auto
  .right-block-chapter-3
    display inline-block
    width 49%
    height 100%
    position relative
    border-left 2px solid white
    h4
      position absolute
      font-family 'franchise'
      color $white
      font-size 70px
      margin-left 50%;
      transform translateX(-50%)
    .nombredata2
      position absolute
      margin-top 20%
      margin-left 30%;
      transform translateX(-50%)
      width 500px
      height 500px
      background-image url("../../../static/images/popest.svg")
      background-repeat no-repeat
      img
        max-width 100%
        max-height auto
    .nombredata3
      position absolute
      margin-top 17%
      margin-left 60%;
      transform translateX(-50%)
      width 500px
      height 500px
      background-image url("../../../static/images/batim.svg")
      background-repeat no-repeat
      img
        max-width 100%
        max-height auto
  .testbas
    position absolute
    background white
    width 120px
    height 120px
    border-radius 50%
    top 354px
    margin-left: 50%;
    transform: translateX(-50%);
    border 1px solid $pink
    p
      font-size 40px
      color black
      text-align center
      font-family 'franchise'
      margin-top 30px
      margin-bottom 0
    .pute1
      font-size: 15px
      font-family 'source-regular'
      margin 0
      margin-top 10px
  .grosrond
    position absolute
    background white
    width 200px
    height 200px
    border-radius 50%
    top 200px
    margin-left: 50%;
    transform: translateX(-50%);
    border 1px solid $pink
    color white
    p
      font-size 40px
      color black
      text-align center
      font-family 'franchise'
      margin-top 65px
      margin-bottom 0
    .pute
      font-size: 15px
      font-family 'source-regular'
      margin 0
      margin-top 10px
  .test2haut
    position absolute
    background white
    width 120px
    height 120px
    border-radius 50%
    top 126px
    margin-left: 50%;
    transform: translateX(-50%);
    border 1px solid $pink
    p
      font-size 40px
      color black
      text-align center
      font-family 'franchise'
      margin-top 30px
      margin-bottom 0
    .pute1
      font-size: 15px
      font-family 'source-regular'
      margin 0
      margin-top 10px
