.choice-block-1
  display inline-block
  width 50%
  height 100%
  background-image url("../../../static/images/berlin.jpg")
  background-color rgba(0, 0, 0, 0.5)
  background-size cover
  font-size 80px
  text-align center
  font-family 'franchise'
  color $white
  // opacity 0.3
  &:hover
    background-image url("../../../static/images/berlin1.jpg")
  p
    margin: auto
    width 50%
    font-family 'source-regular'
    font-size 20px
.choice-block-2
  display inline-block
  width 50%
  height 100%
  background-image url("../../../static/images/soiree1.jpg")
  background-size cover
  font-size 80px
  text-align center
  font-family 'franchise'
  color $white
  // opacity 0.3
  &:hover
    background-image url("../../../static/images/soiree.jpg")
  p
    margin: auto
    width 50%
    font-family 'source-regular'
    font-size 20px
.experience-choice-button
  display inline-block
  border 1px solid $pink
  padding 20px 40px
  color $pink
  font-size 20px
  line-height 30px
  margin 0 auto
  text-decoration none
  transition all .5s ease
  letter-spacing: 2px
  &:hover
    background-color $pink
    color $white
