.chapter-generic-title
  font-size 70px
  color $white
  font-family 'franchise'
  padding-top 100px
  &:before
      content '2'
      font-size 190px
      color $pink
      position absolute
      z-index -2
      opacity .5
      top -15px
      transform translateX(345%) translateY(100%)
.chapter-generic-p
  display block
  height auto
  font-family 'arial'
  font-size 20px
  color $white
  width 500px
  margin 0 auto
.chapter-generic-title-1
  font-size 75px
  color $white
  font-family 'franchise'
  padding-top 100px
  &:before
      content '1'
      font-size 190px
      color $pink
      position absolute
      z-index -2
      opacity .5
      top -15px
      transform translateX(410%) translateY(100%)
.chapter-generic-title-3
  font-size 75px
  color $white
  font-family 'franchise'
  padding-top 70px
  &:before
      content '3'
      font-size 190px
      color $pink
      position absolute
      z-index -2
      opacity .5
      top -25px
      transform translateX(187%) translateY(57%)
.noPad
  padding-top 50px
