.chapter-generic-title
  font-size 70px
  color $white
  font-family 'franchise'
  padding-top 100px
  &:before
      content '2'
      font-size 190px
      color $pink
      position absolute
      z-index -2
      opacity .5
      top -15px
      transform translateX(30%) translateY(50%)
.chapter-generic-p
  display block
  height auto
  font-family 'arial'
  font-size 14px
  color $white