.fantome
  width 100%
  height 100%
  background-image url("../../../static/images/fantome.jpg")
  background-size cover
  .audio-title
    font-size 20px
    margin-bottom 0
  .more-infos-block
    display block
    position relative
    .chapter2-more-infos
      display block
      background none
      border none
      margin auto
      padding 0
      font-size 12px
      color $pink
      outline none
      cursor pointer
    .chapter2-more-infos-close
      position absolute
      z-index 3
      background none
      border none
      text-align left
      padding 0
      font-size 30px
      font-family 'franchise'
      color $pink
      top 20px
      right 20px
      cursor pointer
      outline none
    .more-infos-content
      position absolute
      width 500px
      height 420px
      background-color rgba(0,0,0,.95)
      transform translateY(-200px)
      padding 40px 40px
      z-index 2
      h2
        font-size 40px
      p
        font-size 14px
        font-family 'helvetica'
