.sous-page-link-9-1
  font-family 'franchise'
  position absolute
  top 60%
  left 20%
  border 1px solid $pink
  padding 20px 40px
  color $pink
  font-size 16px
  margin 0 auto
  margin-top 20px
  text-decoration none
  transition all .5s ease
  &:hover
    background-color $pink
    color $white
.sous-page-link-9-2
  font-family 'franchise'
  position absolute
  top 60%
  right 20%
  border 1px solid $pink
  padding 20px 40px
  color $pink
  font-size 16px
  margin 0 auto
  margin-top 20px
  text-decoration none
  transition all .5s ease
  &:hover
    background-color $pink
    color $white
.sous-page-link-9-3
  font-family 'franchise'
  position absolute
  top 60%
  right 20%
  border 1px solid $pink
  padding 20px 40px
  color $pink
  font-size 16px
  margin 0 auto
  margin-top 20px
  text-decoration none
  transition all .5s ease
  &:hover
    background-color $pink
    color $white
.chapter2-more-infos-11
  font-family 'franchise'
  background-color rgba(0,0,0,0)
  position absolute
  top 60%
  left 44%
  border 1px solid $pink
  padding 20px 40px
  color $pink
  font-size 16px
  margin 0 auto
  margin-top 20px
  text-decoration none
  transition all .5s ease
  &:hover
    background-color $pink
    color $white