$black = #010101
$white  = #FEFEFE
$pink = rgb(225, 34, 106)

$chapter1Title = 80px
$chapter1P = 16px

// Load fonts
@charset "UTF-8";

@font-face {
    font-family: 'franchise';
    src: url(../fonts/Franchise.ttf);
}